@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
}


.ql-editor{
    font-size: 1.05rem;
}

h1{
    white-space: nowrap;
    font-size: 0.875rem; 
    font-weight: 600; 
    padding: 0;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.animate-bounce {
  animation: bounce 1.4s infinite ease-in-out both;
}


@media (min-width: 640px) {
    h1 {
      font-size: 1.25rem; 
    }
  }
  
  @media (prefers-color-scheme: dark) {
    h1 {
      color: #ffffff; 
    }
  }